:root {
  --color-celery-400: #3da74e;
  --color-celery-500: #44b556;
  --color-celery-600: #4bc35f;
  --color-celery-700: #51d267;
  --color-chartreuse-400: #7cc33f;
  --color-chartreuse-500: #85d044;
  --color-chartreuse-600: #8ede49;
  --color-chartreuse-700: #9bec54;
  --color-yellow-400: #d2b200;
  --color-yellow-500: #dfbf00;
  --color-yellow-600: #edcc00;
  --color-yellow-700: #fad900;
  --color-magenta-400: #ca2996;
  --color-magenta-500: #d83790;
  --color-magenta-600: #e2499d;
  --color-magenta-700: #ec5aaa;
  --color-fuchsia-400: #b130bd;
  --color-fuchsia-500: #c038cc;
  --color-fuchsia-600: #cf3edc;
  --color-fuchsia-700: #d951e5;
  --color-purple-400: #864ccc;
  --color-purple-500: #9256d9;
  --color-purple-600: #9d64e1;
  --color-purple-700: #a873df;
  --color-indigo-400: #5c5ce0;
  --color-indigo-500: #6767ec;
  --color-indigo-600: #7575f1;
  --color-indigo-700: #8282f6;
  --color-seafoam-400: #16878c;
  --color-seafoam-500: #1b959a;
  --color-seafoam-600: #20a3a8;
  --color-seafoam-700: #23b2b8;
  --color-red-400: #d7373f;
  --color-red-500: #e34850;
  --color-red-600: #ec5b62;
  --color-red-700: #f76d74;
  --color-orange-400: #da7b11;
  --color-orange-500: #e68619;
  --color-orange-600: #f29423;
  --color-orange-700: #f9a43f;
  --color-green-400: #268e6c;
  --color-green-500: #2d9d78;
  --color-green-600: #33ab84;
  --color-green-700: #39b990;
  --color-blue-400: #1473e6;
  --color-blue-500: #2680eb;
  --color-blue-600: #378ef0;
  --color-blue-700: #4b9cf5;
  --color-black: #000;
  --color-gray-50: #080808;
  --color-gray-75: #1a1a1a;
  --color-gray-100: #1e1e1e;
  --color-gray-200: #2c2c2c;
  --color-gray-300: #393939;
  --color-gray-400: #494949;
  --color-gray-500: #5c5c5c;
  --color-gray-600: #7c7c7c;
  --color-gray-700: #a2a2a2;
  --color-gray-800: #c8c8c8;
  --color-gray-900: #efefef;
  --color-white: #fff;

  --color-overflow: #010101;
  --color-base: #1f2023;
  --color-surface: #27292d;
  --color-overlay-dark: #2d2f34;
  --color-overlay-light: #383b40;
  --color-text: #f4f4f4;
}
